@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.common.min.css";
@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.bootstrap-v4.min.css";

.form-control.k-widget {
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-input {
    border-width: 0px;
}

.form-control:focus {
    box-shadow: none;
}

.k-widget.k-invalid {
    border: 1px solid #e55353;
}

.k-widget.k-valid {
    border: 1px solid #2eb85c;
}

.k-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e55353;
}

.search-box .form-control {
    border-radius: 1.25rem;
    line-height: 4rem;
}

.form-control.k-widget.search-box {
    border-radius: 1.25rem;
    line-height: 4rem;
}

.card-radius {
    border-radius: 0.5em;
}

.text-black {
    color: #000000 !important;
}

.k-datepicker {
    width: 100%;
}

.k-link-clear {
    border: 0px !important;
    background-color: #FFFFFF !important;
}

.bg-card-header {
    background-color: #264692 !important;
    color: aliceblue;
}

.slim {
    border-radius: 50%;
    background-image: url("/resources/assets/img/avatars/avatar_default.png");
}
