{{- define "content" -}}
<div id="content" class="c-body fade-in" style="display: none">
  <main class="c-main p-1">
    <div class="container-fluid p-1">
      <!-- TODO:start page content here-->

      <!-- TODO:start row content main-->
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light m-0 shadow-none">
            <div class="card-body p-2">
              <!-- TODO:start row header here-->

              <div class="row">
                <div class="col-md-12">
                  <div class="card card-radius mb-2">
                    <div class="card-header card-radius bg-card-header">
                      <!-- TODO:Header page -->
                      <span class="h2" >ข้อมูลแผนก</span>
                      <!-- TODO:End header page -->
                    </div>
                    <div class="card-body border-0">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row align-middle">
                            <!-- TODO:Header page content-->
                            <div class="col-10 col-md-5">
                              <div
                                class="form-group"
                                style="position: relative"
                              >
                                <label
                                  id="lbl_search_subject"
                                  for="txt_search"
                                ></label>
                                <input
                                  class="form-control"
                                  id="txt_search"
                                  type="text"
                                  style="padding-left: 1em"
                                />
                                <span
                                  style="
                                    position: absolute;
                                    top: 2.5em;
                                    left: 93%;
                                  "
                                >
                                  <svg
                                    class="c-icon"
                                    width="16px"
                                    height="16px"
                                  >
                                    <use
                                      xlink:href="/resources/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"
                                    ></use>
                                  </svg>
                                </span>
                              </div>
                            </div>
                            <div class="col-2 col-md-5 pl-0">
                              <div style="margin-top: 2.2em">
                                <button
                                  id="btn_advance_search_down"
                                  type="button"
                                  class="btn btn-pill btn-primary"
                                  data-toggle="collapse"
                                  data-target="#advance_search"
                                  aria-expanded="false"
                                  aria-controls="advance_search"
                                >
                                  <svg width="15" height="15">
                                    <use
                                      xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-settings-alt"
                                    ></use>
                                  </svg>
                                </button>
                                <button
                                  id="btn_advance_search_up"
                                  type="button"
                                  class="btn btn-pill btn-secondary d-none"
                                  data-toggle="collapse"
                                  data-target="#advance_search"
                                  aria-expanded="false"
                                  aria-controls="advance_search"
                                >
                                  <svg width="15" height="15">
                                    <use
                                      xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-settings-alt"
                                    ></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                              <div class="collapse" id="advance_search">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label
                                        id="lbl_department"
                                        for="txt_department"
                                      ></label>
                                      <input
                                        class="form-control"
                                        id="txt_department"
                                        type="text"
                                      />
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label
                                        id="lbl_email"
                                        for="txt_email"
                                      ></label>
                                      <input
                                        class="form-control"
                                        id="txt_email"
                                        type="text"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label
                                        id="lbl_address"
                                        for="txt_address"
                                      ></label>
                                      <input
                                        class="form-control"
                                        id="txt_address"
                                        type="text"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                  <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                      <button
                                        id="btn_cancel"
                                        type="button"
                                        class="btn btn-pill btn-secondary"
                                      ></button>
                                      <button
                                        id="btn_apply"
                                        type="button"
                                        class="btn btn-pill btn-primary"
                                      ></button>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.row-->
                              </div>
                            </div>
                            <!-- TODO:End header page content-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TODO:end row header here-->

              <!-- TODO:start row table here-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-radius mb-0">
                    <div class="card-body">
                      <div class="card-header h4 bg-white border-0 pl-0">
                        <!-- TODO:strat header list -->

                        <span
                          id="lbl_datatable"
                          class="text-black"
                          for="grd_department"
                        ></span>

                        <!-- TODO:end header list -->
                        <div class="card-header-actions">
                          <!-- TODO:start header list button action -->

                          <button
                            id="btn_add"
                            type="button"
                            class="btn btn-pill btn-primary"
                                 data-toggle="modal"
                            data-target="#departmentModal"
                          >
                            <svg class="icon x16" width="16" height="16">
                              <use
                                xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-plus"
                              ></use>
                            </svg>
                          </button>
                          <button
                            id="btn_bulk_delete"
                            type="button"
                            class="btn btn-pill btn-primary"
                          >
                            <svg class="icon x16" width="16" height="16">
                              <use
                                xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-trash"
                              ></use>
                            </svg>
                          </button>

                          <!-- TODO:end header list button action -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <!-- TODO:start Table list content -->

                            <div id="grd_department"></div>

                            <!-- TODO:end table list content -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TODO:end row table here-->
            </div>
          </div>
        </div>
      </div>
      <!-- /.row-->
      <!-- TODO:end row content main-->

      <!-- TODO:start other content -->

      <!-- Model Dialog -->
      <div
        class="modal fade"
        id="dlg_delete_confirm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="lbl_dlg_delete_confirm_title"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h5
                class="modal-title text-black"
                id="lbl_dlg_delete_confirm_title"
              ></h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="align-middle">
                <svg class="icon x32 text-warning" width="32" height="32">
                  <use
                    xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-warning"
                  ></use>
                </svg>
                <span id="lbl_dlg_delete_confirm_body_text" class="pl-2"></span>
              </span>
            </div>
            <div class="modal-footer border-0">
              <button
                id="btn_dlg_delete_confirm_close"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              ></button>
              <button
                id="btn_dlg_delete_confirm_confirm"
                type="button"
                class="btn btn-primary"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO:end other content -->

      <!-- TODO:End page content here-->
    </div>
  </main>
</div>


<div
  class="modal fade"
  id="departmentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="departmentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="departmentLabel">จัดการข้อมูลแผนก</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="department-name" class="col-form-label">ชื่อแผนก:</label>
            <input type="text" class="form-control" id="department-name" />
          </div>
          <div class="form-group">
            <label for="department-email" class="col-form-label">อีเมล:</label>
            <input type="text" class="form-control" id="department-email" />
          </div>
          <div class="form-group">
            <label for="department-address" class="col-form-label">ที่อยู่:</label>
            <input type="text" class="form-control" id="department-address" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btn-add-person">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
{{- end -}}
