{{- define "application-bar" -}}
    <div class="c-sidebar c-sidebar-lg c-sidebar-light c-sidebar-right c-sidebar-overlaid" id="aside">
        <button class="c-sidebar-close c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-show">
            <svg class="c-icon">
                <use xlink:href="/resources/vendors/@coreui/icons/svg/free.svg#cil-x"></use>
            </svg>
        </button>
    </div>
{{- end -}}