{{- define "content" -}}
    <div id="content" class="c-body" >
        <main class="c-main p-1">
            <div class="container-fluid p-1">
                <div class="fade-in">
                    <!-- TODO:start page content here-->
                    <div class="card p-2">
                        <div class="d-flex justify-content-between align-content-center  w-100">
                            <div class="d-flex justify-content-center align-items-center k-cursor-pointer text-primary">
                                กลับ
                            </div>
                            <div>
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3">
                        <div class="row">
                            <div class="col-6">
                                {{- template "menu-credit-support" . -}}
                                <div class="w-100 pt-2  position-relative d-flex flex-lg-row tab-sub-card" >
                                    <div class="tab-sub-menu active" onclick="onSelectedProfile('borrower')" id="tab_borrower">ผู้กู้</div>
                                    <div class="tab-sub-menu " onclick="onSelectedProfile('guarantor_1')" id="tab_guarantor_1">ผู้ค้ำ 1</div>
                                    <div class="tab-sub-menu " onclick="onSelectedProfile('guarantor_2')" id="tab_guarantor_2">ผู้ค้ำ 2</div>
                                    <div class="tab-sub-menu " onclick="onSelectedProfile('guarantor_3')" id="tab_guarantor_3">ผู้ค้ำ 3</div>
                                </div>
                                <div class="card mt-4  w-100 form-input-custom h-500">
                                    <div class=" d-flex justify-content-between w-100 header-address">
                                        <div>
                                            <span>
                                                <svg class="icon x16" width="16" height="16">
                                                    <use xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-house"></use>
                                                </svg>
                                            </span>
                                            <span>
                                                ที่อยู่ปัจจุบัน 
                                            </span>
                                        </div>
                                        <div>
                                            <svg class="icon x16" width="16" height="16">
                                                <use xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-chevron-circle-up"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text" id="txt_house_number">
                                                <label>บ้านเลขที่</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text" id="txt_house_group">
                                                <label>หมู่</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text" id="txt_village_name">
                                                <label>หมู่บ้าน/อาคาร</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>เลขบัตรประจำตัวประชาชน</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="date">
                                                <label>วัน/เดือน/ปีเกิด</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-2">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>อายุ (ปี)</label>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>สถานะภาพ</label>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text" disabled>
                                                <label>จำนวนบุตร</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>อาชีพ</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>ชื่อบริการ/ธุรกิจ</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>ตำแหน่ง</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>อายุงาน</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-4">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>รายได้หลัก (บาท)</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>รายได้อื่นๆ</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="material-textfield">
                                                <input placeholder=" " type="text">
                                                <label>รายได้รอง / OT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="verify-box d-flex justify-content-between py-2">
                                    <div class="verify-left">
                                        <span class="text-primary">
                                            เลขที่ใบคำขอ :
                                        </span>
                                        <span>
                                            012345678
                                        </span>
                                    </div>
                                    <div class="verify-right">
                                        <span class="verify-icon status-approve">
                                            <svg class="icon x16" width="16" height="16">
                                                <use xlink:href="/resources/vendors/@coreui/icons/sprites/solid.svg#cis-check-circle"></use>
                                            </svg>
                                        </span>
                                        <span class="verify-text status-approve">
                                            ยอมรับ Online NCB Consent เรียบร้อยแล้ว
                                        </span>
                                    </div>
                                </div>
                                <div class="image-viewer">
                                    <div id="content-viewer-js">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <!-- started modal dialog-->


                    <!-- end modal dialog-->
                    
                    <!-- TODO:End page content here-->

                </div>
            </div>
        </main>
    </div>

{{- end -}}