@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.common.min.css";
@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.bootstrap-v4.min.css";
.form-control.k-widget {
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-input {
    border-width: 0px;
}

.k-widget.k-invalid {
    border: 1px solid #e55353;
}

.k-widget.k-valid {
    border: 1px solid #2eb85c;
}

.k-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e55353;
}

.breadcrumb-fixed .breadcrumb {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1017;
}

.breadcrumb {
    transition: left 0.25s, right 0.25s, width 0.25s;
}

.breadcrumb {
    position: relative;
    border-bottom: 1px solid #bcc5d0;
}

element.style {}

.breadcrumb-fixed .breadcrumb {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1017;
}

.breadcrumb {
    transition: left 0.25s, right 0.25s, width 0.25s;
}


/* .breadcrumb {
    position: relative;
    border-bottom: 1px solid #bcc5d0;
} */

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 1.25rem;
    margin-bottom: 0rem;
    list-style: none;
    background-color: #fff;
}


/* ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
} */


/* 
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.has-search .form-control {
    /* padding-left: 2.375rem; */
    border-radius: 1.25rem;
    line-height: 4rem;
}

.has-search .form-control-feedback {
    right: 10px;
    position: absolute;
    margin-top: 5px;
    background: white;
    width: 30px !important;
    height: 23px !important;
    z-index: 2;
    display: block;
    /* width: 3.375rem; */
    text-align: center;
    /* pointer-events: none; */
    color: #4285f4;
    cursor: pointer !important;
}

.input-master-search-custom :after {
    content: "|";
}

#context-menu {
    width: 170px;
    position: absolute;
    /* font-size: 13px !important; */
}

span.k-icon.k-clear-value.k-i-close {
    display: initial;
    margin-top: 12px;
    color: red;
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 850px) {
    .k-pager-sm .k-pager-info,
    .k-pager-sm .k-pager-sizes,
    .k-pager-sm {
        display: initial;
    }
    .k-pager-numbers {
        display: none;
    }
}

@media (max-width: 849px) {
    .k-pager-info,
    .k-pager-sizes,
    .k-pager-refresh,
    .k-pager-numbers,
    .k-pager-input {
        display: none;
    }
}

.nav-color-black {
    color: black;
    font-weight: bold;
}

.btn-filter-custom {
    text-align: center;
    border-radius: 25px;
    color: black !important;
    ;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1 !important;
}

/* custom tab */
.tab-header-menu{
    cursor: pointer !important;
    border: 2px solid #09548B !important;
    color: #09548B !important;
    border-radius: 10px 10px 0px 0px !important;
}
.tab-header-menu.active{
    background-color: #09548B !important;
    color: #ffffff !important;
}
.tab-header-menu:hover{
    background-color: #09548B !important;
    color: #ffffff !important;
    text-decoration: none  !important;
}
.tab-sub-card{
    background-color: #E4E7EB;
    border-radius: 10px 10px 10px 0px;
    margin-top: -5px;
    max-height: 37px;
    height: 37px;
}
.tab-sub-card .tab-sub-menu{
    padding: 0px 20px 5px 20px;
    color: #09548B;
}

.tab-sub-card .tab-sub-menu:hover{
    cursor: pointer;
}
.tab-sub-card .tab-sub-menu.active{
    border-bottom: 3px solid #09548B;
}

.form-input-custom{
    border: 2px solid #09548B !important;
    border-radius: 10px !important;
    padding: 15px;
}
.h-500{
    height: 500px;
}
/* CUSTOM-Outlined Text Field */

.material-textfield {
    position: relative;  
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #09548B;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  input {
    font-size: 16px;
    outline: none;
    border: 2px solid #09548B;
    border-radius: 5px;
    padding: 7px;
    color: #09548B;
    transition: 0.1s ease-out;
    width: 100%;
  }
  input:focus {
    border-color: #09548B;  
  }
  input:focus + label {
    color: #09548B;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }

  .material-textfield input:disabled{
    border: 2px solid #a1a1a1 !important;
    color: #a1a1a1 !important;
  }
  input:disabled+label {
    color: #a1a1a1 !important;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
/* END-Outlined Text Field */

.text-primary{
    color: #09548B !important;
}

.verify-right .verify-icon.status-approve{
    color: #00B147;
}
.verify-right .verify-text.status-approve{
    color: #00B147;
}
/*  */
ul li {
    list-style-type: none;
}
/* viewerJs */
.images-viewer-js {
    height: 600px;
    cursor: pointer;
    margin: 5px;
    display: flex;
  }
/* END */

.header-address{
    background-color: #09548B;
    color: white;
    padding: 10px;
    border-radius: 10px;
}