{{- define "content" -}}
    <div id="content" class="c-body">
        <main class="c-main p-1">
            <div class="container-fluid p-1">
                <div class="fade-in">
                    <!-- TODO:start page content here-->
                    <div class=" d-flex flex-center flex-column flex-column-fluid p-5 ">
                        <div class="card w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto" style="width: 550px;height: 550px;border-radius: 20px !important;">
                            <div class="text-center mb-10 p-2">
								<!--begin::Title-->
								<h1 class="text-dark mb-3">TSRL</h1>

								<h1 class="text-dark mb-5">
                                    บริษัท เธียรสุรัตน์ ลีสซิ่ง จํากัด
                                </h1>
								<!--end::Title-->
								<!--begin::Link-->
								<!--end::Link-->
                                <div class="d-flex flex-column justify-content-center">
                                    <div class="mt-2 d-flex justify-content-center">
                                        <input class="form-control form-control-lg form-control-solid mb-3 w-75" id="txt_username" maxlength="30"  type="text" placeholder="ชื่อผู้ใช้งาน" autocomplete="off">
                                    </div>
                                    <div class="mt-2 d-flex justify-content-center">
                                        <input class="form-control form-control-lg form-control-solid mb-3 w-75" type="password" maxlength="30"  id="txt_password" placeholder="รหัสผ่าน" autocomplete="off">
                                    </div>
                                    <div class="mt-5 mb-5 d-flex justify-content-center">
                                        <button type="button" class="btn btn-pill btn-md w-75 p-2" id="btn_login" style="background-color: #09548B;color: white;" >เข้าสู่ระบบ</button>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    © Copyright 2022 TSRL All right reserved.
                                </div>
                             
							</div>

                        </div>
                    </div>
                 
                </div>
            </div>
        </main>
    </div>

{{- end -}}