@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.common.min.css";
@import "/resources/vendors/@progress/kendo-ui/2021.1.330/css/kendo.bootstrap-v4.min.css";
.form-control.k-widget {
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-input {
    border-width: 0px;
}

.k-widget.k-invalid {
    border: 1px solid #e55353;
}

.k-widget.k-valid {
    border: 1px solid #2eb85c;
}

.k-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e55353;
}

.breadcrumb-fixed .breadcrumb {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1017;
}

.breadcrumb {
    transition: left 0.25s, right 0.25s, width 0.25s;
}

.breadcrumb {
    position: relative;
    border-bottom: 1px solid #bcc5d0;
}

element.style {}

.breadcrumb-fixed .breadcrumb {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1017;
}

.breadcrumb {
    transition: left 0.25s, right 0.25s, width 0.25s;
}


/* .breadcrumb {
    position: relative;
    border-bottom: 1px solid #bcc5d0;
} */

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 1.25rem;
    margin-bottom: 0rem;
    list-style: none;
    background-color: #fff;
}


/* ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
} */


/* 
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.has-search .form-control {
    /* padding-left: 2.375rem; */
    border-radius: 1.25rem;
    line-height: 4rem;
}

.has-search .form-control-feedback {
    right: 10px;
    position: absolute;
    margin-top: 5px;
    background: white;
    width: 30px !important;
    height: 23px !important;
    z-index: 2;
    display: block;
    /* width: 3.375rem; */
    text-align: center;
    /* pointer-events: none; */
    color: #4285f4;
    cursor: pointer !important;
}

.input-master-search-custom :after {
    content: "|";
}

#context-menu {
    width: 170px;
    position: absolute;
    /* font-size: 13px !important; */
}

span.k-icon.k-clear-value.k-i-close {
    display: initial;
    margin-top: 12px;
    color: red;
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 850px) {
    .k-pager-sm .k-pager-info,
    .k-pager-sm .k-pager-sizes,
    .k-pager-sm {
        display: initial;
    }
    .k-pager-numbers {
        display: none;
    }
}

@media (max-width: 849px) {
    .k-pager-info,
    .k-pager-sizes,
    .k-pager-refresh,
    .k-pager-numbers,
    .k-pager-input {
        display: none;
    }
}

.nav-color-black {
    color: black;
    font-weight: bold;
}

.btn-filter-custom {
    text-align: center;
    border-radius: 25px;
    color: black !important;
    ;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1 !important;
}

.upload-item{
    margin: 5px;
    cursor: pointer;
    padding: 25px;
   
    background: #FCFFDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
  
}
.upload-item label{
    cursor: pointer;
}

.upload-item label .text-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #09548B;
}

.upload-item label .text-desc{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #4F4F4F;
}

.show-file-name {
    width: 85% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}